@import "tailwindcss";

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Custom styles */
body {
	font-family: "Atkinson", sans-serif;
}

.prose {
	max-width: 65ch;
}

.prose p {
	margin-bottom: 1.5em;
}

.prose pre {
	padding: 1.5em;
	border-radius: 8px;
}

.prose code {
	padding: 2px 5px;
	border-radius: 2px;
}
